<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
     <link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="all.min.css"/>
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
